@charset "utf-8";

dt{font-weight: bold;}
dd{
	margin: 1em 0em 2em 1em;
	padding: 0px;
	display: inline-block;
	vertical-align: top;
}
dd img{
	display: inline-block;
}

table.h_line{
	border: 1px solid #000;
	border-collapse: collapse;
	width:100%;
}

table.h_line tr{
	border: 1px solid #CCC;
}

table.h_line td{
	padding: 0.5em;
}
